/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";
@import "mixin.scss";

.gridbox li{
    height: 100px;
    @include grid( 5, 5%);
    background: #000;
    img{
        width: 100%;
    }
}

.paytype{
    margin: 10px 0;
}
.bottom_check{
    overflow: hidden;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #fff;
    @include css3(box-shadow,0px 0px 4px #d3d3d3);
    button{
        margin: 0 auto;
        @include css3(box-shadow,0px 0px 0px #d3d3d3);
    }
}
.yo-headline2{
    margin-top: 12px;
}
.addlastmoney{
    position: relative;
    &:after{
            position: absolute;
            content: ".39";
            right: 0;
            top:0;
            height: 100%;
            line-height: 34px;
            background: #d3d3d3;
            padding: 0 10px;
            color: #878787;
        }
}
.icon-house{
    background-image: url(../svg/ico-house.svg)!important;
}
.icon-arrows-left{
    background-image: url(../svg/icon-arrows-left.svg)!important;
}
.icon-arrows-right{
    background-image: url(../svg/ico-arrows-right.svg)!important;
}
.icon-radio-yes{
    background-image: url(../svg/ico-radio-yes.svg)!important;
}
.icon-kuai{
    background-image: url(../images/kuai.png)!important;
}
.onlineMenu{
    padding: 5px 0!important;
    @include css3(transition,all .3s ease);
    .onlineMenu_active{
        height: auto;
    }
    ul{
        overflow: hidden;
        height: 140px;
        li{   
            float: left;
            width: 20%;
            padding-top: 5px;
            position: relative;
            a{
                border: 0px solid #ddd!important;
                font-size: 10px;
                .payicon{
                    padding: 5px 0;
                    text-align: center;
                    img{
                        width: 35px;
                    }
                }
            }
        }
        .tag{
            width: 13px;
            height: 13px;
            background-size: 13px 13px;
            position: absolute;
            right: 12px;
            top: 6px;
        }
        .tag_fast{
            background-image: url("../images/fast.png");
        }
        .tag_safe{
            background-image: url("../images/safe.png");
        }
        .tag_win{
            background-image: url("../images/win.png");
        }
        .payicon{
            img{
                @include css3(transition,all .3s ease);
            }
            
        }
        .pay_add_active{
            .payicon{
                img{
                    @include css3(transform,rotate(180deg));
                }
            }
        }
    }
}

.PaleOrange{
    padding-left: 102px!important;
}

.item-input .itemTxt{
    margin-right: 10px;
}
.paytxt{
    font-size: 12px!important;
}
select{
    font-family: "Microsoft Yahei"!important;
}
.bankCard{
    .active{
        position: relative;
        &:after{
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            right: 0;
            top: 0;
            background-image: url(../images/check.png);
            background-size: 20px 20px;
        }
    }
}
.paybankName{
    float: none!important;
    padding: 25px;
}
.moneybox{
    overflow: hidden;
    margin-top: 8px;
    li{
        @include css3(transition,all .3s ease);
        list-style: none;
        float: left;
        width: calc(20% - 16px);
        background: #fff;
        text-align: center;
        @include css3(border-radius,5px);
        margin: 0 8px;
        height: 30px;
        color: #999999;
        line-height: 30px;
    }
    .moneybox_active{
        color: #fff;
        background: #fdb064;
    }
}